body{
    background-image: url(img/strand.jpg);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    text-decoration: underline;
    color: white;
}

ol{
    color: white;
}

#tabel{
    margin-left: auto;
  margin-right: auto;
}

#chart{
    margin-left: auto;
    margin-right: auto; 
}